* {
  margin: 0;
  padding: 0;
}
.conteiner {
  position: fixed;
  width: 75%;
  height: 85%;
  margin-left: 17.5%;
  margin-top: 2.5%;
  padding: 1rem 3rem;
  border-radius: 1rem;
  color:white;
  background-color: rgb(48, 46, 46);
  text-align: center;
}



